[Unit]
Description=Wireguard Docker Compose Service for Network 101 with Routable Client
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/wg101
ExecStart=/opt/wg101/start.sh
ExecStop=/opt/wg101/stop.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
